/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
	background-color: #27272a;
	/* Default sidebar */
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a {
	color: #fafafa;
	margin: 5px 15px;
	padding: 7px 13px 10px 18px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
	color: #fafafa;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
	color: #fafafa;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.open > a {
	border-radius: 5px;
	background: #343438;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu > li.open > a > i {
	color: #fafafa;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
	color: #fafafa;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
	cursor: default;
	background: #343438;
	border-left: 5px solid #65a30d;
	border-radius: 5px;
	margin: 5px 15px;
	padding: 7px 13px 10px 13px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
	background: #343438;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
.page-sidebar .page-sidebar-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu > li.active.open > a > i {
	color: #fafafa;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
.page-sidebar .page-sidebar-menu > li:last-child > a {
	border-bottom: 1px solid transparent !important;
}

/****
Dark Theme
****/

/****
Body
****/
body {
	color: #fafafa;
	background-color: #27272a;
}
body.page-boxed {
	background-color: #27272a;
}
hr {
	border-top: 1px solid #424247;
}
select, input[type='text'], input[type='password'], textarea, button {
	background: #424247 !important;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
}
.help-link {
	color: #fafafa;
	font-weight: bold;
	margin-bottom: 20px;
}
.help-link:hover {
	color: #d4d4d8;
	text-decoration: none;
}
.list-link {
	color: #fafafa;
	font-weight: bold;
}
.list-link:hover {
	color: #d4d4d8;
	text-decoration: none;
}
.dialog-link {
	color: #fafafa;
	font-weight: bold;
}
.dialog-link:hover {
	color: #d4d4d8;
	text-decoration: none;
}
.page-container-bg-solid .page-content {
	background: #27272a;
}
.page-content {
	background: #27272a;
}
.page-title {
	background: #27272a;
}
.page-title > .nav-tabs > li {
	margin-right: 2px;
}
.page-title > .nav-tabs > li > a {
	margin-right: 0px;
}
.page-title > .nav-tabs:not(.radio-tab) > li.active {
	background: #343438;
	border-bottom: 5px solid #65a30d;
	border-radius: 5px 5px 0px 0px;
}
.page-title > .nav-tabs:not(.radio-tab) > li.active > a {
	border: none;
	color: #fafafa;
	background: #343438;
	font-size: 14px;
	font-weight: bold;
}
.page-title > .nav-tabs:not(.radio-tab) > li.active > a:hover {
	background: #343438;
	border: none;
}
.page-title > .nav-tabs:not(.radio-tab) > li > a {
	border: none;
	border-bottom: 5px solid #27272a;
	color: #fafafa;
	border-radius: 5px 5px 0px 0px;
}
.page-title > .nav-tabs:not(.radio-tab) > li > a:hover {
	border: none;
	border-bottom: 10px solid #343438;
	background: #343438;
}
.page-title > .nav-tabs:not(.radio-tab) > li:not(.active) > a:focus:not(:hover) {
	border-bottom: 5px solid #27272a;
	background: #27272a;
}
.tabbable-line > .nav-tabs:not(.radio-tab) > li > a, .tabbable-line > .nav-tabs:not(.radio-tab) > li:active > a, .tabbable-line > .nav-tabs:not(.radio-tab) > li > a:hover, .tabbable-line > .nav-tabs:not(.radio-tab) > li:active > a:hover {
	color: #fafafa;
	background: #343438;
	border-radius: 0px;
	font-weight: bold;
}
.tabbable-line > .nav-tabs:not(.radio-tab) > li.open, .tabbable-line > .nav-tabs:not(.radio-tab) > li:hover {
	border-bottom: 5px solid #57801e;
}
.tabbable-line > .nav-tabs:not(.radio-tab) > li.active {
	border-bottom: 5px solid #65a30d;
}
.radio-tab a {
	font-size: 14px;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
	margin-bottom: 1px;
	color: #fafafa;
	background: #343438;
	border-radius: 5px !important;
}
.radio-tab li:not(.active) a:focus, .radio-tab li:not(.active) a.not-allowed-tab:hover {
	background: #343438 !important;
}
.radio-tab li:not(.active) a:not(.not-allowed-tab):hover {
	background: #424247 !important;
}
.radio-tab a::before {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #fafafa;
	display: inline-block;
	margin-bottom: -1px;
	margin-right: 4px;
	background: #fafafa;
}
.radio-tab .active a {
	color: #fafafa !important;
	background: #65A30D !important;
	border-color: #65A30D !important;
}
.radio-tab .active a::before {
	background: #27272A;
	border: 2px solid #fafafa;
}
.ui-dialog{
	z-index: 100;
	padding: 20px;
	box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
	border-style: solid;
	border-width: 1px;
	border-color: #424247;
	color: #fafafa;
	background-color: #343438;
	box-sizing: content-box;
	border-radius: 5px;
}
.btn-grey {
	color: #fafafa !important;
	background-color: #424247 !important;
}
.btn-grey:hover {
	background-color: #52525B !important;
	border-color: #52525B !important;
}
.btn-grey:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.open > .dropdown-toggle.btn-grey:focus {
	background-color: #52525B !important;
	border-color: #52525B !important;
}
.btn-grey-dialog {
	padding: 5px 20px;
	color: #fafafa !important;
	background-color: #424247 !important;
}
.btn-grey-dialog:hover {
	background-color: #52525B !important;
	border-color: #52525B !important;
}
.btn-grey-dialog:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.open > .dropdown-toggle.btn-grey-dialog:focus {
	background-color: #52525B !important;
	border-color: #52525B !important;
}
.button-link[disabled]:hover {
	cursor: default !important;
	color: #fafafa !important;
}
.page-body {
	background: #343438;
}
.portlet > .portlet-title {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fafafa;
	font-size: 33px;
	font-family: "STZhongsong", "Antonio", "Arial Narrow";
	text-transform: uppercase;
}
.portlet.form-fit {
	padding: 0;
}
.portlet .portlet-body {
	padding-top: 8px;
}
.table-row:hover {
	background: #3b3b40;
}

#blocks-list .block-card, #frozen-block .block-card {
	background: #3b3b40;
	border: 1px solid #3b3b40;
	border-left: 5px solid #27272a;
}
#blocks-list .block-card:hover, #frozen-block .block-card:hover {
	background: #424247;
}
#blocks-list .block-card.active {
	border-left: 5px solid #65a30d;
}
#frozen-block .block-card.active {
	border-left: 5px solid #ef4444;
}

.custom-select {
	background: #424247;
	width: 100%;
	height: 218px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #52525B;
	padding: 4px;
	overflow: auto;
}
.custom-option.selected {
	background: #3b82f6;
	color: #fafafa;
}

/* Containers */
.jqTimepsaceContainer,
.jqTimepsaceContainer .jqTimespaceDataContainer {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	color: #fafafa;
}
.jqTimepsaceContainer .jqTimespaceDataContainer {
	margin: 1rem auto;
	border: 1px solid #52525B;
	border-top: none;
	-moz-user-select: none;
	user-select: none;
	background: #3b3b40;
	border-radius: 5px;
}

/* Navigation and Line Guide */
.jqTimepsaceContainer .jqTimespaceLeft,
.jqTimepsaceContainer .jqTimespaceRight {
	z-index: 3;
	position: absolute;
	bottom: 30%;
	margin: 0;
	border: 1px solid #52525B;
	padding: 0.1rem 0.5rem;
	color: #fff;
	font-size: 1.6rem;
	line-height: 2rem;
	text-align: center;
	cursor: pointer;
	background: #3b3b40;
	border-radius: 5px;
}
.jqTimepsaceContainer .jqTimespaceLeft:hover,
.jqTimepsaceContainer .jqTimespaceRight:hover {
	background: #3b3b40;
	opacity: 1;
}
.jqTimepsaceContainer header {
	z-index: 4;
	position: relative;
	background: #3b3b40;
}
.jqTimepsaceContainer header > div {
	display: flex;
	position: relative;
	box-sizing: border-box;
	margin: 0;
	border-bottom: 1px solid #52525B;
	text-align: center;
}
.jqTimepsaceContainer header > div:last-child {
	border-bottom: 1px solid #52525B;
	text-align: left;
}
.jqTimepsaceContainer header h1:not(:first-child),
.jqTimepsaceContainer header .jqTimespaceDummySpan:not(:first-child) {
	border-left: 1px solid #52525B;
}
.jqTimepsaceContainer header .jqTimespaceDummySpan {
	background: #3b3b40;
	opacity: 0.4;
}
.jqTimepsaceContainer header time:not(:first-child) {
	border-left: 1px dashed #52525B;
}
.jqTimepsaceContainer aside .jqTimespaceColumn:not(:first-child) {
	border-left: 1px dashed #52525B;
}
.jqTimespaceEvent p {
	overflow: hidden;
	margin: 0;
	border: 1px solid #343438;
	padding: 0.3rem 0.5rem;
	line-height: 1.6rem;
	font-size: 12px;
	white-space: nowrap;
	background: #27272a;
	border-radius: 5px;
}
.jqTimespaceEvent p i {
	font-size: 12px;
}
.jqTimespaceEvent p:hover,
.jqTimespaceEvent .jqTimespaceEventSelected {
	background: #27272a;
}
.jqTimespaceNoDisplay p {
	cursor: move;
	background: #27272a;
	opacity: 0.5;
}
.jqTimespaceNoDisplay p:hover {
	background: #27272a;
}
.jqTimespaceDisplay {
	box-sizing: border-box;
	box-shadow: 0 6px 5px -5px #52525B;
	margin: 1rem auto;
	border: 1px solid #52525B;
	padding: 0;
	height: 0;
	background: #3b3b40;
	overflow: hidden;
	transition: height 0.4s linear;
}
.jqTimespaceDisplay .jqTimespaceDisplayLeft:hover,
.jqTimespaceDisplay .jqTimespaceDisplayRight:hover {
	color: #fafafa;
}
.jqTimespaceDisplay .jqTimespaceTimeframe {
	display: inline-block;
	margin: 0.2rem 0 0.2rem 1.2rem;
	padding: 0 0.4rem;
	border-left: 1px solid #52525B;
	border-right: 1px solid #52525B;
	color: #fafafa;
}


.wc-time-header-cell {
	background: #424247;
}
.wc-header {
	border-color: #52525B;
}
.wc-time-slot {
	border-bottom: 1px dotted #52525B;
}
.wc-hour-end, .wc-hour-header {
	border-bottom: 1px solid #52525B;
}
.wc-scrollable-grid {
	background-color: #424247;
}
.wc-scrollable-grid .wc-day-column-last, .wc-scrollable-grid .wc-day-column-middle {
	border-color: #52525B;
}
.wc-hourline {
	border-top: 2px solid #ef4444;
}
.wc-cal-event {
	background-color: #27272a;
}
.wc-cal-event .wc-time {
	width: 100%;
	background-color: #27272a;
	position: absolute;
	z-index: 2;
}

.dropdown-menu {
	background: #424247;
	border-color: #52525B;
	box-shadow: 5px 5px rgba(39, 39, 42, 0.6);
}
.dropdown-menu li > a {
	color: #fafafa;
}
.dropdown-menu li > a:hover {
	background: #52525B;
	color: #fafafa;
}
.dropdown-menu li.divider {
	background: #52525B;
}
.btn-group > .dropdown-menu::after {
	border-bottom: 7px solid #424247 !important;
}
.btn-group > .dropdown-menu::before {
	border-bottom: 8px solid #52525B !important;
}

td > a {
	color: #fafafa;
}
td > a:hover {
	color: #d4d4d8;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
	border-bottom-color: #52525B;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
	border-top-color: #52525B;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
	border-bottom: 6px solid #424247;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
	border-top: 6px solid #424247;
}
.timepicker-hour, .timepicker-minute, .bootstrap-datetimepicker-widget table td {
	color: #fafafa !important;
}
.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
	background: none !important;
	color: #fafafa !important;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
	background: #52525b !important;
}
.bootstrap-datetimepicker-widget table td.cw {
	font-size: .8em;
	height: 20px;
	line-height: 20px;
	color: #fafafa !important;
}
.bootstrap-datetimepicker-widget table td.year:hover,
.bootstrap-datetimepicker-widget table td.month:hover,
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
	background: #52525b !important;
	cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
	color: #A1A1AA !important;
}
.bootstrap-datetimepicker-widget table td.today:before {
	content: '';
	display: inline-block;
	border: solid transparent;
	border-width: 0 0 7px 7px;
	border-bottom-color: #65a30d !important;
	border-top-color: none !important;
	position: absolute;
	bottom: 4px;
	right: 4px;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #65a30d !important;
	color: #fafafa !important;
	text-shadow: none !important;
}
.bootstrap-datetimepicker-widget table td.active.today:before {
	border-bottom-color: #fafafa !important;
}
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
	background: none !important;
	color: #A1A1AA !important;
}
.bootstrap-datetimepicker-widget table td span {
	display: inline-block;
	width: 54px;
	height: 54px;
	line-height: 54px;
	margin: 2px 1.5px;
	cursor: pointer;
	border-radius: 5px;
}
.bootstrap-datetimepicker-widget table td span:hover {
	background: #52525b !important;
}
.bootstrap-datetimepicker-widget table td span.active {
	background-color: #65a30d !important;
	color: #fafafa !important;
	text-shadow: none !important;
}
.bootstrap-datetimepicker-widget table td span.old {
	color: #A1A1AA !important;
}
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
	background: none !important;
	color: #A1A1AA !important;
}
.btn:hover, .btn:focus, .btn.focus {
	color: #fafafa;
	text-decoration: none;
}
.btn-primary {
	color: #fafafa;
	font-weight: bold;
}
.btn-primary:hover {
	background: #52525b !important;
}

#frozen-timer-autostart-datetime-start .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#frozen-timer-autostart-datetime-end .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#edit-autostart-timer-datetime .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#edit-autostart-window-time .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#edit-lock-timer-datetime .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#edit-lock-window .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#edit-break-allowance-time .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#edit-break-reward-time .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#edit-break-sessions-time .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
#frozen-timer-datetime .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}
.stats-content .input-group-addon {
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fafafa !important;
	border: 1px solid #52525B !important;
	background: #52525B !important;
}

#blocks-frozen select {
	border: 1px solid #424247;
	background: #424247;
}
#settings-preferences select {
	border: 1px solid #424247;
	background: #424247;
}
#settings-notifications input[disabled] {
	color: #9ea1a4 !important;
	background-color: #424247 !important;
}
#settings-blocking select {
	border: 1px solid #424247;
	background: #424247;
}
#settings-blocking input[disabled] {
	color: #9ea1a4 !important;
	background-color: #424247 !important;
}
#settings-password input[disabled] {
	color: #9ea1a4 !important;
	background-color: #424247 !important;
}
#dialog-edit-scheduled-block select {
	border: 1px solid #424247;
	background: #424247;
}
