body {
	font-family: "Microsoft YaHei", "Open Sans", sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	direction: ltr;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
@-ms-viewport {
	width: auto !important;
}
a {
	text-shadow: none;
}
a:focus, a:hover, a:active {
	outline: 0;
}
a:hover {
	cursor: pointer;
}
hr {
	margin: 20px 0;
	border: 0;
	border-bottom: 0;
}
.bold {
	font-weight: 700 !important;
}
.uppercase {
	text-transform: uppercase !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
[class*=" fa-"]:not(.fa-stack) {
	display: inline-block;
	font-size: 14px;
	line-height: 14px !important;
	-webkit-font-smoothing: antialiased;
}
li [class*=" fa-"] {
	display: inline-block;
	width: 1.25em;
	text-align: center;
}
.btn {
	border-width: 0;
	padding: 7px 14px;
	font-size: 14px;
	outline: none !important;
	background-image: none !important;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
.btn:hover, .btn:disabled, .btn[disabled], .btn:focus, .btn:active {
	outline: none !important;
	background-image: none !important;
	filter: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-success {
	color: #fff;
	background-color: #45B6AF;
	border-color: #3ea49d;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
	color: #fff;
	background-color: #3b9c96;
	border-color: #307f7a;
}
.btn-success:active {
	background-image: none;
	background-color: #348a84;
}
.btn-success:active:hover {
	background-color: #37918b;
}
.btn > i {
	font-size: 14px;
}
.close {
	display: inline-block;
	margin-top: 0px;
	margin-right: 0px;
	width: 9px;
	height: 9px;
	background-repeat: no-repeat !important;
	text-indent: -10000px;
	outline: none;
	background-image: url("../img/remove-icon-small.png") !important;
}
.dropdown-menu {
	min-width: 175px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	list-style: none;
	text-shadow: none;
	padding: 0px;
	background-color: #ffffff;
	margin: 10px  0px 0px 0px;
	box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
	border: 1px solid #eee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.dropdown-menu li.divider {
	background: #f1f3f6;
}
.dropdown-menu li > a {
	padding: 8px 14px;
	color: #555;
	text-decoration: none;
	display: block;
	clear: both;
	font-weight: 300;
	line-height: 18px;
	white-space: nowrap;
}
.dropdown-menu li > a:hover {
	text-decoration: none;
	background-image: none;
	background-color: #f6f6f6;
	color: #555;
	filter: none;
}
.dropdown-menu > li:first-child:hover > a {
	border-radius: 4px 4px 0px 0px;
}
.dropdown-menu > li:last-child:hover > a {
	border-radius: 0px 0px 4px 4px;
}

.btn-group > .dropdown-menu {
	margin-top: 10px;
}
.btn-group > .dropdown-menu:before {
	position: absolute;
	top: -8px;
	left: 9px;
	right: auto;
	display: inline-block !important;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #e0e0e0;
	border-left: 8px solid transparent;
	content: '';
}
.btn-group > .dropdown-menu:after {
	position: absolute;
	top: -7px;
	left: 10px;
	right: auto;
	display: inline-block !important;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	content: '';
}
.btn-group > .dropdown-menu.pull-right:before {
	position: absolute;
	top: -8px;
	right: 9px;
	left: auto;
	display: inline-block !important;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #e0e0e0;
	border-left: 8px solid transparent;
	content: '';
}
.btn-group > .dropdown-menu.pull-right:after {
	position: absolute;
	top: -7px;
	right: 10px;
	left: auto;
	display: inline-block !important;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	content: '';
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 5px;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
}
.dropdown-submenu > a:after {
	position: absolute;
	display: inline-block;
	font-size: 14px;
	right: 7px;
	top: 7px;
	font-family: FontAwesome;
	height: auto;
	content: "\f105";
	font-weight: 300;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}
.control-label {
	margin-top: 1px;
}
.form-control::-moz-placeholder {
	color: #b3b3b3;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #b3b3b3;
}
.form-control::-webkit-input-placeholder {
	color: #b3b3b3;
}
.form-control {
	font-size: 14px;
	font-weight: normal;
	color: #333;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
label {
	font-weight: 400;
	font-size: 14px;
}
.input-icon {
	position: relative;
	left: 0;
}
.input-icon > .form-control {
	padding-left: 33px;
}
.input-group .input-icon > .form-control {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.note {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #4cae4c;
}
.note h4 {
	margin-top: 0;
}
.note p {
	font-size: 13px;
}
.note p:last-child {
	margin-bottom: 0;
}
.note.note-info {
	background-color: #eef7fb;
	border-color: #a6e1ec;
	color: #31708f;
}
.note.note-warning {
	background-color: #fcf8e3;
	border-color: #f5d89e;
	color: #8a6d3b;
}
.portlet {
	margin-top: 0px;
	margin-bottom: 25px;
	padding: 0px 20px 0px 20px;
}
.portlet > .portlet-title:before, .portlet > .portlet-title:after {
	content: " ";
	display: table;
}
.portlet > .portlet-title:after {
	clear: both;
}
.portlet > .portlet-title > .caption {
	float: left;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 0;
}
.portlet > .portlet-body {
	clear: both;
}
.nav-tabs {
	margin-bottom: 10px;
}
.nav-tabs > li > a {
	font-size: 14px;
}
.tabbable-line > .nav-tabs {
	border: none;
	margin: 0px;
}
.tabbable-line > .nav-tabs > li {
	margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
}
.tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
}
.tabbable-line > .nav-tabs > li.active {
	position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
	border: 0;
}
